/* Button.module.css */
.button {
  /* Default style */
  border-radius: 8px;
  border: 1px solid #ffdc11;
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  color: #ffdc11;
  cursor: pointer;
  background-color: transparent;
  font-size: large;
}

.button:hover {
  /* Hovered style */
  background-color: #ffdc11;
  color: black;
}

.button:active {
  /* Active/Clicked style */
  background-color: #ffdc11;
  color: black;
  box-shadow: grey;
}
