body,
html {
  margin: 0;
  padding: 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.title {
  color: #ffdc11;
}

.checkboxRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 350px;
}

.forgotPassword,
.rememberMe {
  color: #d4d4d4;
}

.line {
  height: 1px;
  width: 350px;
  background-color: #d4d4d4;
  opacity: 20%;
  margin-top: 60px;
}

.createAccount {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.createAccount a {
  color: #ffdc11; /* or any other color you prefer */
  cursor: pointer;
  text-decoration: none;
}

.terms {
  font-size: 12px;
}

.login {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 33px;
}

.login a {
  color: #ffdc11; /* or any other color you prefer */
  cursor: pointer;
  text-decoration: none;
}

.line2 {
  height: 1px;
  width: 350px;
  background-color: #d4d4d4;
  opacity: 20%;
  margin-top: 30px;
}
