.parrentContainer {
  margin: 50px;
  margin-top: 0px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100px;
}

.title {
  color: #ffdc11;
  font-size: 20px;
  font-weight: 200;
}

.leagueInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.formatLocation {
  font-size: 14px;
}

.teamNumber {
  font-size: 16px;
  font-weight: bold;
}

.colorLine,
.colorLine2 {
  height: 1px;
  width: 100%;
  background-color: #ffdc11;
  margin-bottom: 40px;
}

.colorLine2 {
  margin-top: 300px;
}

/* Opening.module.css */

/* Define styles for tabs */
.tabsContainer {
  height: 30px !important;
  margin-bottom: 20px;
}

/* Define styles for individual tabs */
.tab {
  cursor: pointer;
  color: #ccc !important;
  margin-right: 10px;
}

.tab:hover {
  background-color: #ffdb1139;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* Define styles for the active tab */
.activeTab {
  background-color: #ffdc11 !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  color: black !important;
}

.colorLine {
  height: 1px;
  width: 100%;
  background-color: #ffdc11;
  margin-top: -22px;
  margin-bottom: 40px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  background-color: #ffdc11;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  border: none;
}

.table .head {
  line-height: 30px;
}

.tbody {
  padding: 1px;
  background-color: white;
  color: black;
}
