.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  background-color: #ffdc11;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  border: none;
}
.tbody {
  background-color: white;
  color: black;
}

.point {
  font-weight: bold;
}
