.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  background-color: #ffdc11;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  border: none;
}
.tbody {
  padding: 1px;
  background-color: white;
  color: black;
}

.sorter {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  align-self: center;
}

.arrow {
  margin-top: 3px;
  height: 20px;
  justify-self: flex-end;
}
