.fixtureContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
}

.team {
  color: black;
  text-align: center;
  width: 100px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dateTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffdc11;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
  height: 50px;
  align-self: stretch;
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}

.date,
.location {
  position: absolute;
  color: black;
  font-weight: bold;
}

.date {
  left: 80px;
}
.location {
  right: 80px;
}

.time {
  margin-top: 2px;
}

.result {
  width: 50px;
}
